<img onclick="startDictation()" src="http://i.imgur.com/cHidSVu.gif" />

<div id="transcript">

</div>

<div id="textfield">
  
</div>


<body onload='responsiveVoice.speak("What type of Photo are you planning to take? Will it be indoors or outdoors? Will the subject be in motion or still?")'>

<!-- <body onload='responsiveVoice.speak("SPEAK?")'> -->


<script src='https://code.responsivevoice.org/responsivevoice.js'></script>


<!-- HTML5 Speech Recognition API -->

<script>
  var cat = "";
  var locale = "indoors";
  var motion = "still";

  function startDictation() {

    console.log("cat is:", cat);
    if (window.hasOwnProperty('webkitSpeechRecognition')) {

      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = "en-US";
      recognition.start();

      recognition.onresult = function(e) {

        if (cat == "") {
          if (e.results[0][0].confidence > 0.75) {
            if (e.results[0][0].transcript.includes("portrait")) {
              console.log("your text included portrait");
              cat = "portrait";
            }
            if (e.results[0][0].transcript.includes("macro")) {
              console.log("your text included macro");
              cat = "macro";
            }
            if (e.results[0][0].transcript.includes("landscape")) {
              console.log("your text included landscape");
              cat = "landscape";
              locale = "outdoors";
            }
            if (e.results[0][0].transcript.includes("cityscape")) {
              console.log("your text included cityscape");
              cat = "cityscape";
              locale = "outdoors";
            }
            if (e.results[0][0].transcript.includes("Outdoors")) {
              locale = "outdoors";
            }
            if (e.results[0][0].transcript.includes("motion")) {
              motion = "motion";
            }
          } else {
            responsiveVoice.speak("I did not catch that, please try again.");
          }
        }

        console.log(cat);
        console.log(locale);
        console.log(motion);

        if (cat != "") {
          var data = {
            category: cat,
            location: locale,
            movement: motion
          }
          if (cat == "landscape" || cat == "cityscape" || locale == "outdoors") {
            $.redirect("/home/maps", data);
          } else {
            $.redirect("/home/nomaps", data);
          }
        } else {
          responsiveVoice.speak("Please let me know if you want to take a Portrait, Macro, Landscape or Cityscape Photo.");
        }

        console.log(e.results[0][0].transcript);
        console.log(typeof(e.results[0][0].transcript));
        document.getElementById('transcript').innerHTML
                                 = e.results[0][0].transcript;

        recognition.stop();

        document.getElementById('textfield').innerHTML
                                 = e.results[0][0].confidence;

      };

      recognition.onerror = function(e) {
        recognition.stop();
      };

    }
  }
</script>
