<!-- <h1>Home#nomaps</h1>
<p>Find me in app/views/home/nomaps.html.erb</p> -->

<!-- LANDSCAPES -->
<html>
  <head>
    <script src="https://use.fontawesome.com/43d605e895.js"></script>
    <meta charset="utf-8">
    <title>Portraits</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <div class="page-header">
          <h1>Portraits</h1>
          <p class="lead">How to Take Great Portraits</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <img src="portrait.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
            <p style="font-size: 1.25em;">Portraits are one of the most powerful kinds of photographs. A great portrait can last for decades, memorializing a person’s entire life, or just a single instant. The difference between a snapshot and a good portrait is more narrow than you’d think. It just requires a little bit of thought.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Tips</h3>
            <ul style="list-style-type:none;">
              <li> A great place to shoot a portrait is somewhere shady, like under a tree or in an alley, on a sunny day or in a room lit by a single large window.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Links</h3>
            <ul style="list-style-type:none;">
              <li><a href="http://www.techradar.com/how-to/photography-video-capture/cameras/14-portrait-photography-tips-you-ll-never-want-to-forget-1320776">14 Portrait Photography Tips You'll Never Want to Forget</a></li>
              <li><a href="https://digital-photography-school.com/tips-portrait-photography/">10 More Tips for Stunning Portrait Photography</a></li>
              <li><a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/seven-tips-every-beginning-portrait-photographer-should-know">8 Tips Every Beginning Portrait Photographer Should Know</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Equipment</h3>
            <ul style="list-style-type:none;">
              <li>A perfect portrait lens is the 50mm f/1.8 “Nifty Fifty”. We recommend the <a href="https://www.amazon.com/Canon-50mm-1-8-STM-Lens/dp/B00X8MRBCW/ref=sxts_k2p_hero1?tag=823814-20&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2668834182&pd_rd_wg=a88dY&pf_rd_r=GYZJXQFJ3ME27YAVBYPC&pf_rd_s=desktop-sx-top-slot&pf_rd_t=301&pd_rd_i=B00X8MRBCW&pd_rd_w=blJdb&pf_rd_i=canon+50mm&pd_rd_r=CGGEC192CJMG7QMWWT61&ie=UTF8&qid=1478825189&sr=1">Canon STM</a> or <a href="https://www.amazon.com/Nikon-AF-S-NIKKOR-Focus-Cameras/dp/B004Y1AYAC/ref=sr_1_1?tag=823814-20&ie=UTF8&qid=1478825195&sr=8-1&keywords=nikon+50mm">Nikon AF-S</a>.</li>
              <li>For beautiful, stable shots we recomment the <a href="https://www.amazon.com/gp/product/B000N7VPRW/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000N7VPRW&linkCode=as2&tag=dpsgeneral-20">Manfrotto 475B Pro</a> tripod.</li>
            </ul>
          </div>
        </div>

      </div>
    </body>
</html>

<!-- CITYSCAPES -->
<html>
  <head>
    <script src="https://use.fontawesome.com/43d605e895.js"></script>
    <meta charset="utf-8">
    <title>Cityscapes</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <div class="page-header">
          <h1>Cityscapes</h1>
          <p class="lead">How to Take Great Cityscape Photos</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <img src="cityscape.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
            <p style="font-size: 1.25em;">Most of us will live in or near a big city. Amongst the concrete and tall buildings there is an opportunity to capture the shape and design of the city. Dramatic cityscapes are one of the most powerful images we have in photography. It can convey a sense of wonder, power and beauty, often all three together.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Tips</h3>
            <ul style="list-style-type:none;">
              <li>After the golden hour settles, the sky grows darker, while city lights illuminate below. This immediately post-sunset or pre-sunrise moment (known as twilight or the Blue Hour) may be the best time for shooting cityscapes.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Links</h3>
            <ul style="list-style-type:none;">
              <li><a href="https://digital-photography-school.com/10-tips-better-cityscape-photography/">10 Tips for Better Cityscape Photography</a></li>
              <li><a href="http://www.exposureguide.com/photographing-cityscapes.htm">Take Your Night Photography to the Next Level</a></li>
              <li><a href="https://www.lightstalking.com/how-to-improve-your-cityscape-photographs/">How to Improve Your Cityscape Photographs</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Equipment</h3>
            <ul style="list-style-type:none;">
              <li>Tilt shift lenses are great for photography cities. We recommend the <a href="https://www.amazon.com/Rokinon-TSL24M-C-Shift-Fixed-Canon/dp/B00BPOF0C8/ref=sr_1_2?ie=UTF8&qid=1500154109&sr=8-2&keywords=tilt+shift+lens">Rokinon TSL24M-C</a> or the <a href="https://www.amazon.com/Canon-Ultra-Tilt-Shift-Digital-Cameras/dp/B001TDL2O0/ref=sr_1_1?ie=UTF8&qid=1500154197&sr=8-1&keywords=tilt+shift+lens">Canon TS-E</a>.</li>
            </ul>
          </div>
        </div>

      </div>
    </body>
</html>

<!-- MACROS -->
<html>
  <head>
    <script src="https://use.fontawesome.com/43d605e895.js"></script>
    <meta charset="utf-8">
    <title>Macros</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <div class="page-header">
          <h1>Macros</h1>
          <p class="lead">How to Take Great Macro Photos</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <img src="macro.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
            <p style="font-size: 1.25em;">The first time a photographer looks through a macro lens is invariably a moment of artistic epiphany. You notice details you never noticed before, find a renewed appreciation for the subtleties of light and shadow, and discover that a slight twist of the focus ring or shift in your position can make for a completely new work of art.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Tips</h3>
            <ul style="list-style-type:none;">
              <li>Explore textures and patterns. Find beauty in something the naked eye is unlikely to notice. Train your eyes to see the world a little differently, and then set about capturing it!</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Links</h3>
            <ul style="list-style-type:none;">
              <li><a href="http://www.amateurphotographer.co.uk/technique/macro_photography/top-12-macro-photography-tips-2429">Top 12 Macro Photography Tips</a></li>
              <li><a href="https://digital-photography-school.com/macro-photography-for-beginners-part-1/">Macro Photography for Beginners</a></li>
              <li><a href="http://www.davewilsonphotography.com/tutorials/a-beginners-guide-to-macro-photography/">Macro Photography Hints and Tips from a Self-Taught Beginner</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Equipment</h3>
            <ul style="list-style-type:none;">
              <li>The focal length of macro lenses range from 50mm to 200mm. We recommend the <a href="https://www.amazon.com/Nikon-NIKKOR-80-200mm-Focus-Cameras/dp/B00005LEOH/ref=sr_1_3?ie=UTF8&qid=1500152911&sr=8-3&keywords=Nikon+200mm+macro+lens">Nikon AF FX</a>. The <a href="https://www.amazon.com/Canon-100mm-Macro-Digital-Cameras/dp/B002NEGTSI/ref=sr_1_14?ie=UTF8&qid=1500152988&sr=8-14&keywords=macro+lens">Canon EF</a> is another good option.</li>
            </ul>
          </div>
        </div>

      </div>
    </body>
</html>

<!-- PORTRAITS -->
<html>
  <head>
    <script src="https://use.fontawesome.com/43d605e895.js"></script>
    <meta charset="utf-8">
    <title>Portraits</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
        <div class="page-header">
          <h1>Portraits</h1>
          <p class="lead">How to Take Great Portraits</p>
        </div>

        <div class="row">
          <div class="col-md-12">
            <img src="portrait.jpg" width="360px" style="display: block; float: left; padding-right: 25px">
            <p style="font-size: 1.25em;">Portraits are one of the most powerful kinds of photographs. A great portrait can last for decades, memorializing a person’s entire life, or just a single instant. The difference between a snapshot and a good portrait is more narrow than you’d think. It just requires a little bit of thought.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3>Tips</h3>
            <ul style="list-style-type:none;">
              <li> A great place to shoot a portrait is somewhere shady, like under a tree or in an alley, on a sunny day or in a room lit by a single large window.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Links</h3>
            <ul style="list-style-type:none;">
              <li><a href="http://www.techradar.com/how-to/photography-video-capture/cameras/14-portrait-photography-tips-you-ll-never-want-to-forget-1320776">14 Portrait Photography Tips You'll Never Want to Forget</a></li>
              <li><a href="https://digital-photography-school.com/tips-portrait-photography/">10 More Tips for Stunning Portrait Photography</a></li>
              <li><a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/seven-tips-every-beginning-portrait-photographer-should-know">8 Tips Every Beginning Portrait Photographer Should Know</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Equipment</h3>
            <ul style="list-style-type:none;">
              <li>A perfect portrait lens is the 50mm f/1.8 “Nifty Fifty”. We recommend the <a href="https://www.amazon.com/Canon-50mm-1-8-STM-Lens/dp/B00X8MRBCW/ref=sxts_k2p_hero1?tag=823814-20&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2668834182&pd_rd_wg=a88dY&pf_rd_r=GYZJXQFJ3ME27YAVBYPC&pf_rd_s=desktop-sx-top-slot&pf_rd_t=301&pd_rd_i=B00X8MRBCW&pd_rd_w=blJdb&pf_rd_i=canon+50mm&pd_rd_r=CGGEC192CJMG7QMWWT61&ie=UTF8&qid=1478825189&sr=1">Canon STM</a> or <a href="https://www.amazon.com/Nikon-AF-S-NIKKOR-Focus-Cameras/dp/B004Y1AYAC/ref=sr_1_1?tag=823814-20&ie=UTF8&qid=1478825195&sr=8-1&keywords=nikon+50mm">Nikon AF-S</a>.</li>
              <li>For beautiful, stable shots we recomment the <a href="https://www.amazon.com/gp/product/B000N7VPRW/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000N7VPRW&linkCode=as2&tag=dpsgeneral-20">Manfrotto 475B Pro</a> tripod.</li>
            </ul>
          </div>
        </div>

      </div>
    </body>
</html>
