// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  width: 100%;
}
.recordButton{
  cursor:pointer;
}

body {
  color: #888;
  background: #262626;
  margin: 0;
  text-align: center;
  font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
  height: 50px;
  position: absolute;
  top: 150px;
  left: 100px;
  text-align: center;
  color: black;
}

.main-container {
 display: flex;
 height: 100vh;
 width: 100vw;
 background-color: #999;
  margin:0 auto;
}

.mic-container {
 position: absolute;
 bottom: 10vh;
 left: 30vh;
 display: flex;
 justify-content: center;
 height: 25vh;
 max-width: 500px;

}

.active-mic {
  background: image_url('active-mic.png') no-repeat center center;
  background-size: 80%;
  height: 20vh;
  width: 25vw;
}

.soundwavesSVG1 {
 height: 20vh;
 width: 20vh;
}

.soundwavesSVG2 {
 height: 20vh;
 width: 20vh;
 transform: rotate(180deg);
}

.first-wave {
 fill: #e6e6e6;
}
.second-wave {
 fill: #e6e6e6;
}
.third-wave {
 fill: #e6e6e6;
}

.cyan-wave {
 fill: "cyan";
}

@media screen and (min-width: 468px) {
 .active-mic {
       background-size: 80%;
       height: 20vh;
       width: 20vw;
    }
    .div1{
        background-color: magenta;
    }
    .div2 {
        background-color: greenyellow;
    }
}

@media screen and (min-width: 768px) {
    .active-mic {
       background-size: 60%;
       height: 20vh;
       width: 15vw;
    }
    .div1{
        background-color: cyan;
    }
    .div2 {
        background-color: mediumseagreen;
    }
}
